.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(19, 17, 5);
    height: 60px;
    flex-grow: 1;

}

.navbar > div ,a{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: aqua;

}