.main {
    width: 100%;
    flex-grow: 1;
}

.men, .women, .child {
    width: 100%;
}

.outer_card {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.card img {
    height: 300px;
    width: 100px;
}